@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
	height: 100%;
	margin: 0;
}

@layer base {
	@font-face {
		font-family: "Yuruka";
		font-style: normal;
		font-weight: bold;
		font-display: swap;
		src: url(/fonts/fot-yuruka-std.ttf) format("truetype");
	}
}
